body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;  
    position: relative;
}
.box{

    height: 100vh;
    width: 600px;
}
.box .pix-1{
    background-color: rgb(55, 107, 212);
    border: 1px solid #f1f1f1;
    height: 50px;
    transition: all 0.2s ease-in-out;
}
.box {
    display: flex;
    flex-wrap: wrap;
  }
.pix-1 {
    background-color: rgb(55, 107, 212);
    animation: moveAndChangeColor 4s infinite alternate;
}

@keyframes moveAndChangeColor {
    0% {
      background-color: rgb(55, 107, 212);
      transform: translate(500px, 300px);
    }
    50% {
      background-color: rgb(95, 16, 148);
      transform: translate(-500px, -300px);
    }
    100% {
      background-color: rgb(29, 174, 44);
      transform: translate(-500px, 200px);
    }
}
  
@media screen and (min-width:650px) { 
    .box{
        height: 450px;
        min-height: auto;
    }
}
@media screen and (min-width:400px) { 
    .box{
        height:300px;
       }
}

